.company {
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;

  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #BABABA;
  padding: 5px 0px;
}



.companies {
  width: 100%;
  align-self: flex-start;
}

.company-info--wrapper {
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}
.company-info--wrapper:first-child {
  border-top: none;
}

.company--town {
  font-size: 15px;
  font-weight: 700;
  width: 200px;
  padding: 10px 0px;
}

.company--icon {
  padding: 10px;
  padding-right: 20px;
}

.company-info {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.company-info:hover, .company-info:active {
  color: #007b32;
}

.company-info--content {
  padding: 15px 0px;
  padding-left: 55px;
  font-family: Arial;
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-indent: 0px;
  text-size-adjust: 100%;
}

.company-info--content a {
  color: rgb(53, 121, 59);
  font-weight: 700;
  text-decoration: none;
}
.company-info--content a:hover {
  text-decoration: underline;
}

.company-info--content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.company-info--content td:first-child {
  width: 90px;
}

.company-info--content td {
  padding-top: 5px;
  padding-bottom: 10px;
  vertical-align: top;
}


@media (max-width: 500px) {
  .company {
    flex-direction: column;
  }
  .company-info {
    padding-left: 0px;
  }
  .company-info--content {
    padding-left: 10px;
  }
}
