.map {
  margin: 20px;
  box-sizing: border-box;
}

.map.map-initial .map-region:not([data-id="-1"]) path{
  fill: #007b32;
}
.map.map-initial .map-region[data-id="-1"] path{
  fill: #00c851;
}

.map .map-region:not([data-id="-1"]):hover path{
  fill:#006227;
}

.map .map-region[data-id="-1"]:hover path {
  fill:#00b549;
}

.map .map-region:not([data-id="-1"])[data-selected] path{
  fill:#004e1f;
}

.map .map-region[data-id="-1"][data-selected] path{
  fill:#00a141;
} 

